@use "../abstracts/variables" as q; // I use "q" as queries

.nav__toggle {
  height: 32px;
  width: 36px;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  top: 2rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  background-color: q.$primary-color;
  color: q.$title-color;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: q.$z-fixed;
}

.nav__logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.img__footer {
  width: 100px;
  height: 100px;
}

.nav__menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
}

.nav__list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.nav__link {
  float: right;
  height: 100%;
  line-height: 100px;
  padding: 0 1rem;
  color: q.$title-color;
  font-weight: q.$font-medium;
  position: relative;
  transition: 0.4s;
}

.nav__link.active-link::after,
.nav__link:hover::after {
  position: absolute;
  // content: "";
  content: url("/images/mylogo.svg");
  width: 6px;
  height: 48px;
  border-radius: 50%;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  margin: auto;
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
  display: none;
}

.btn__share {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  text-align: center;
}

.home__container {
  position: relative;
  height: 100%;
  align-items: center;
}
.home {
  background: url("../images/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.home-casestudy {
  background: url("../images/sample.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.home__img {
  display: none;
}

.home__social {
  position: absolute;
  top: 1.8rem;
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.main {
  margin-left: 100px;
}
.my__info {
  display: flex;
  column-gap: 1.8rem;
  position: absolute;
  left: 0;
  bottom: 1.8rem;
}

.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: q.$body-color;
  border-right: 1px solid q.$box-color;
  transition: 0.5s;
}

.about__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-items: center;
}

.about__info {
  grid-template-columns: repeat(3, 140px);
  column-gap: 0.5rem;
  margin-bottom: q.$mb-3;
}

.about__img {
  width: 580px;
  justify-self: center;
}
.case__img {
  width: 580px;
  justify-self: center;
}

:root {
  --plyr-color-main: #1dde57;
  --plyr-control-icon-size: 1rem;
  --plyr-control-radius: 35px;
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0), #09852e);
  --plyr-font-family: "Poppins", sans-serif;
}

.about__description {
  text-align: justify;
  padding-right: 6rem;
  margin-bottom: q.$mb-2;
}

.qualification__container {
  grid-template-columns: repeat(2, 340px);
  column-gap: 3rem;
  justify-content: center;
}

.services__container {
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  column-gap: 1.8rem;
}

.services__content {
  position: relative;
  background-color: q.$box-color;
  padding: 6rem 0 2rem 2.5rem;
  border-radius: 0.25rem;
}

.work__container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}

.work__card {
  background-color: q.$box-color;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.work__img {
  border-radius: 0.5rem;
  margin-bottom: q.$mb-1;
}

.work__title {
  font-size: q.$normal-font-size;
  font-weight: q.$font-medium;
  margin-bottom: q.$mb-0-5;
}

.portfolio__item-details {
  display: none;
}

.portfolio__popup-inner {
  background-color: q.$box-color;
  width: 900px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  position: relative;
}

.portfolio__popup-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.portfolio__popup-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: q.$primary-color;
  cursor: pointer;
}

.skills__container {
  grid-template-columns: 360px 320px;
  column-gap: 3rem;
  justify-content: center;
}

.contact__container {
  grid-template-columns: 300px 340px;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.footer__bg {
  background-color: q.$box-color;
  padding: 3rem 0 3.5rem;
}

.footer__container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
}

.footer__copy {
  font-size: q.$smaller-font-size;
  text-align: center;
  margin-top: 4.5rem;
}

.footer__links {
  display: flex;
  justify-self: center;
  column-gap: 2rem;
}

.footer__socials {
  justify-self: flex-end;
}

.testimonials__container {
  overflow: hidden;
  position: relative;
  padding: 0 24px;
}

.testimonial__card {
  flex: 0 0 calc(50% - 12px);
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: q.$box-color;
  margin: 0 12px;
}

// For Large Devices
@media screen and (max-width: 1408px) {
  .container {
    margin-left: q.$mb-2-5;
    margin-right: q.$mb-2-5;
  }
}

@media screen and (max-width: 1216px) {
  .about__container {
    column-gap: 2.5rem;
  }

  .about__description {
    padding-right: 0;
  }

  .work__container {
    grid-template-columns: repeat(2, 330px);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: q.$mb-1-5;
    margin-right: q.$mb-1-5;
  }

  .sidebar {
    width: 100%;
    z-index: 999;
    transform: translateX(-100%);
  }

  .show-sidebar {
    transform: translateX(0);
  }

  .nav__logo,
  .btn__share {
    display: none;
  }

  .nav__menu {
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translateX(0);
    display: flex;
    justify-content: center;
  }

  .nav__list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav__link {
    padding: 1rem 0;
    line-height: 1.5;
  }

  .nav__link.active-link::after,
  .nav__link:hover::after {
    bottom: 0;
    height: 20px;
  }

  .nav__close {
    display: block;
  }

  .nav__toggle {
    display: flex;
  }

  .main {
    margin-left: 0;
  }

  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about__img {
    width: 350px;
  }

  .about__data {
    text-align: center;
  }

  .about__info {
    justify-content: center;
  }

  .about__box {
    padding: 0.75rem 0.5rem;
  }

  .about__description {
    padding: 0 4rem;
    text-align: center;
  }

  .qualification__container {
    grid-template-columns: repeat(2, 290px);
  }

  .skills__container {
    grid-template-columns: 340px 300px;
  }

  .skills__list {
    row-gap: 1.7rem;
  }

  .work__card {
    padding: 1rem;
  }

  .work__img {
    margin-bottom: q.$mb-0-75;
  }

  .work__title {
    margin-bottom: q.$mb-0-25;
  }

  .services__container {
    grid-template-columns: repeat(3, 220px);
  }

  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }

  .portfolio__item-details {
    margin-bottom: q.$mb-1-5;
  }

  .details__info li {
    margin-bottom: q.$mb-0-5;
  }

  .details__title {
    margin-bottom: q.$mb-0-75;
  }

  .testimonial__card {
    flex: 0 0 calc(50% - 8px); /* Adjust width for medium screens */
  }
}

// For Medium Devices
@media screen and (max-width: 768px) {
  .about__img {
    width: 250px;
  }

  .qualification__container {
    grid-template-columns: 290px;
    row-gap: 3rem;
  }

  .skills__container {
    grid-template-columns: 300px;
    row-gap: 3rem;
  }

  .work__container {
    grid-template-columns: 330px;
  }

  .services__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .services__content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }

  .services__icon {
    font-size: 1.5rem;
  }

  .contact__container {
    grid-template-columns: 360px;
    row-gap: 3rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .footer__socials {
    justify-self: start;
  }

  .footer__links {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .footer__bg {
    padding: 2rem 0 3rem;
  }

  .footer__copy {
    margin-top: q.$mb-3;
  }

  .portfolio__popup-inner {
    width: 420px;
    padding: 2.8rem 1.5rem 2.5rem;
  }

  .portfolio__popup-content {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  .details__title {
    font-size: q.$normal-font-size;
  }

  .portfolio__popup-close {
    top: 0.5rem;
  }
  .testimonial__card {
    flex: 0 0 calc(100% - 16px); /* Show 1 slide on smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .nav__toggle {
    right: initial;
    left: 1.5rem;
  }

  .home {
    background-image: none;
    height: initial;
    align-items: initial;
    padding: 7rem 0 2rem;
  }
  .home-casestudy {
    background-image: none;
    height: initial;
    align-items: initial;
    padding: 7rem 0 2rem;
  }

  .home__container {
    row-gap: 2rem;
  }

  .home__img {
    display: block;
    width: 250px;
    justify-self: center;
  }
  .img__footer {
    width: 80px;
  }

  .home__social {
    left: initial;
    right: -1rem;
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .home__social-follow {
    font-size: q.$smaller-font-size;
    transform: rotate(90deg);
  }

  .home__social-links {
    flex-direction: column;
    row-gap: 0.25rem;
  }

  .home__social-link {
    font-size: q.$normal-font-size;
  }

  .home__social-link:hover {
    transform: initial;
    transform: translateX(0.25rem);
  }

  .my__info {
    display: none;
  }

  .about__info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__description {
    padding: 0;
  }

  .services__modal-content {
    padding: 4.5rem 1.5rem 2.5rem;
  }

  .services__modal-description {
    padding: 0;
  }

  .contact__container,
  .work__container {
    grid-template-columns: 300px;
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__links {
    justify-self: flex-start;
  }

  .testimonial__card {
    flex: 0 0 calc(100% - 8px); /* Show 1 slide on very small screens */
  }
}

// For Small Devices
@media screen and (max-width: 350px) {
  .container {
    margin-left: q.$mb-1;
    margin-right: q.$mb-1;
  }

  .home__img {
    width: 200px;
  }

  .home__title {
    font-size: q.$h1-font-size;
  }

  .home__subtitle {
    font-size: q.$normal-font-size;
  }

  .about__info {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
  }

  .contact__container,
  .work__container,
  .skills__container,
  .qualification__container {
    grid-template-columns: 1fr;
  }

  .skills__title {
    font-size: q.$normal-font-size;
  }

  .work__item {
    font-size: q.$small-font-size;
  }

  .work__filters {
    column-gap: 0.25rem;
  }

  .services__container {
    grid-template-columns: max-content;
  }

  .services__content {
    padding-right: 3.5rem;
  }

  // .testimonials__container {
  //   padding: 0 2px;
  // }
}
