@use "../abstracts/variables" as f; // I use "f" as footer

.footer {
  padding-top: 2rem;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: f.$mb-0-25;
}

.footer__subtitle {
  font-size: f.$small-font-size;
}

.footer__link:hover {
  color: f.$primary-color;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: f.$mb-1-5;
}

.footer__social:hover {
  color: f.$primary-color;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: f.$title-color;
}
