@use "../abstracts/variables" as h; // I use "h" as home

.home__social-follow {
  font-weight: h.$font-medium;
  position: relative;
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: h.$text-color;
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: 1.08rem;
  color: h.$text-color;
  transition: 0.3s;
}

.home__social-link:hover {
  transform: translateY(0.25rem);
}

.home__title {
  font-size: h.$biggest-font-size;
}

.home__subtitle {
  font-size: h.$h3-font-size;
  font-weight: h.$font-medium;
  margin-bottom: h.$mb-0-75;
}

.home__description {
  max-width: 450px;
  margin-bottom: h.$mb-2;
}

.info__item {
  display: flex;
  align-items: center;
}

.info__title,
.info__subtitle {
  font-size: h.$small-font-size;
}

.info__title {
  font-weight: h.$font-medium;
}

.info__icon {
  font-size: 1.8rem;
  color: h.$primary-color;
  margin-right: h.$mb-0-75;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: h.$primary-color;
  color: h.$title-color;
  padding: 0.75rem 1.4rem;
  border-radius: 0.25rem;
  font-weight: h.$font-medium;
  position: relative;
  z-index: 1;
}

.button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 0.25rem;
  transition: 0.3s;
}

.button:hover::after {
  transform: scale(1);
}

.button__icon {
  font-size: 1.25rem;
}

.typing {
  color: h.$primary-color;
  padding-left: 10px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid h.$scrollbar;
  width: 0;
  animation: typing 3s steps(10, end) 1s infinite, blink 0.7s infinite step-end;
}

@keyframes typing {
  0% {
    width: 0;
  }
  70% {
    width: 7ch;
  }
  90% {
    width: 7ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
