@use "../abstracts/variables" as s; // I use "s" as sidebar

.menu {
  display: flex;
}

.social__share {
  font-size: 1.5rem;
  color: s.$primary-color;
}

.nav__link.active-link,
.nav__link:hover {
  color: s.$primary-color;
}
